<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Vision Pro Max</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Lato"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="/static/style.css" />
  </head>

  <body>
    <!-- Navbar -->
    <div class="w3-top">
      <div class="w3-bar w3-black w3-card">
        <a
          class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right"
          href="javascript:void(0)"
          onclick="myFunction()"
          title="Toggle Navigation Menu"
          ><i class="fa fa-bars"></i
        ></a>
        <a href="/" class="w3-bar-item w3-button w3-padding-large">HOME</a>
        <a
          href="home"
          class="w3-bar-item w3-button w3-padding-large w3-hide-small"
          >ABOUT US</a
        >
      </div>
    </div>

    <!-- Navbar on small screens (remove the onclick attribute if you want the navbar to always show on top of the content when clicking on the links) -->
    <div
      id="navDemo"
      class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top"
      style="margin-top: 46px"
    >
      <a
        href="/"
        class="w3-bar-item w3-button w3-padding-large"
        onclick="myFunction()"
        >HOME</a
      >
      <a
        href="home"
        class="w3-bar-item w3-button w3-padding-large"
        onclick="myFunction()"
        >ABOUT US</a
      >
    </div>

    <!-- take photo -->
    <div
      class="w3-container w3-content w3-center w3-padding-64"
      style="max-width: 800px"
      id="band"
    >
      <h2 class="w3-wide">Take an Image</h2>
      <div id="camera-container">
        <video id="video" width="300" height="300" autoplay></video>
        <div class="container">
          <button id="capture-button">Capture Image</button>
        </div>
      </div>
      <div id="preview-container" style="display: none">
        <img
          id="image-preview"
          src=""
          alt="Preview"
          style="max-width: 300px; max-height: 300px"
        />
        <div class="container" style="margin-top: 50px">
          <button id="retake-button">Retake</button>
          <button id="next-button">Analyze</button>
        </div>
      </div>
    </div>

    <div class="w3-content" style="max-width: 2000px">
      <!-- banner -->
      <div class="w3-display-container w3-center">
        <img
          src="https://media.discordapp.net/attachments/1194004645601886209/1223825072171778089/banner.png?ex=661b42ea&is=6608cdea&hm=b2bac548092bd5c5d24d28cd46c31a024cc2a4b1b0cffc9f901c9d1a7b2298ae&=&format=webp&quality=lossless&width=1440&height=480"
          style="width: 100%"
        />
      </div>
    </div>
    <script src="static\app.js"></script>
    <script>
      const inactivityTimeout = 30000 // 30 seconds
      const inactivityTimeout2 = 60000 // 60 seconds
      let inactivityTimer
      let inactivityTimer2

      function resetTimer() {
        clearTimeout(inactivityTimer)
        inactivityTimer = setTimeout(callPythonFunction, inactivityTimeout)
      }

      function resetTimer2() {
        clearTimeout(inactivityTimer2)
        inactivityTimer2 = setTimeout(callPythonFunction2, inactivityTimeout2)
      }

      function callPythonFunction() {
        fetch("/ask_user")
          .then((response) => response.text())
          .then((data) => console.log(data))
          .catch((error) => console.error("Error:", error))
      }
      function callPythonFunction2() {
        fetch("/ask_user2")
          .then((response) => response.text())
          .then((data) => console.log(data))
          .catch((error) => console.error("Error:", error))
      }

      document.addEventListener("mousemove", resetTimer, resetTimer2)
      document.addEventListener("keypress", resetTimer, resetTimer2)

      // Start the inactivity timer when the page loads
      window.onload = function () {
        resetTimer()
        resetTimer2()
      }
    </script>
  </body>
</html>
